body {
  color: var(--grey);
}

.container-about {
  padding-bottom: 3rem;
  margin: 0 5%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  width: 300px;
  height: 250px;
}

.text-home,
.text-about {
  text-align: justify;
  font-size: 20px;
}

.title-home {
  text-align: center;
  color: var(--orange);
  margin: 1.5rem 0;
  font-size: 36px;
}

.title-about {
  text-align: center;
  color: var(--orange);
  margin: 5rem 0 3rem 0;
  font-size: 30px;
}

.video-about {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.subtitle-about {
  text-align: center;
  font-size: 30px;
  color: var(--orange-light);
  margin-bottom: 2rem;
}

.list-about {
  display: flex;
  justify-content: center;
}

ul {
  list-style-image: url("../../assets/heart.png");
  margin: 0 1rem;
}

.text-about {
  margin: 0.5rem 0;
}

@media screen and (min-width: 426px) {
  .container-about {
    margin: 0 10%;
  }

  .logo {
    width: 350px;
    height: 300px;
  }

  .video-about iframe {
    height: 350px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5rem 0;
  }

  .text-home {
    width: 40%;
  }

  .video-about iframe {
    width: 600px;
  }
}
