body {
  color: var(--grey);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.logo {
  width: 300px;
  height: 250px;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo infinite 25s linear;
  }
}

.text-home,
.text-about {
  text-align: justify;
  width: 80%;
  font-size: 18px;
}

.title-home {
  text-align: center;
  color: var(--blue-light);
  margin: 1rem 0;
  padding-bottom: 1rem;
  font-size: 30px;
}

.adoption {
  background-image: linear-gradient(to right, var(--green), var(--blue-dark));
}

.subtitle-adoption {
  text-align: center;
  color: var(--blue-dark);
  font-size: 26px;
  padding: 5rem 0 1rem 0;
}

.list-adoption {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
  margin: 0 4rem;
}

ul {
  list-style-image: url("../../assets/heart.png");
}

.text-adoption {
  margin: 0.8rem 0;
  font-size: 18px;
  color: white;
}

.video-adoption {
  display: flex;
  justify-content: center;
}

.video-adoption iframe {
  margin-bottom: 5rem;
}

@media screen and (min-width: 426px) {
  .logo {
    width: 350px;
    height: 300px;
  }

  .video-adoption iframe {
    width: 400px;
  }
}

@media screen and (min-width: 769px) {
  .home {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .text-home {
    width: 45%;
  }

  .video-adoption iframe {
    width: 600px;
    height: 350px;
  }
}
