body {
  background: var(--cream);
  color: var(--green);
}

.container-about {
  padding-bottom: 3rem;
  margin: 0 5%;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  padding: 2rem 0;
}

.logo {
  width: 250px;
  height: 250px;
  border: 5px solid var(--orange-dark);
  border-radius: 50%;
  margin: 1rem 0;
}

.text-home,
.text-about {
  text-align: justify;
  font-size: 20px;
}

.title-home {
  text-align: center;
  color: var(--orange-dark);
  margin: 1.5rem 0;
  font-size: 36px;
}

.about {
  display: inline;
}

.title-about {
  text-align: center;
  color: var(--orange-light);
  margin: 5rem 0 3rem 0;
}

.video-about {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.image1-about {
  display: inline;
  float: left;
  margin-right: 8px;
  width: 220px;
  height: 200px;
  border-radius: 5px;
}

.image2-about {
  float: right;
  margin-left: 8px;
  width: 220px;
  height: 200px;
  border-radius: 5px;
}

@media screen and (min-width: 426px) {
  .container-about {
    margin: 0 10%;
  }

  .logo {
    width: 300px;
    height: 300px;
  }

  .video-about iframe {
    height: 350px;
  }
}

@media screen and (min-width: 768px) {
  .home {
    flex-direction: row;
    justify-content: space-around;
    margin: 3rem 0;
  }

  .logo {
    width: 350px;
    height: 350px;
  }

  .text-home {
    width: 40%;
  }

  .video-about iframe {
    width: 600px;
  }

  .image1-about,
  .image2-about {
    width: 260px;
    height: 220px;
  }
}
