.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 480px;
  margin: 1rem 0;
  border: 3px dashed var(--green);
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.card:hover {
  transform: rotateY(180deg);
}

.card-title,
.card-text {
  position: absolute;
  backface-visibility: hidden;
}

.card-title {
  font-size: 20px;
  color: var(--blue-light);
  text-align: center;
}

.card-text {
  font-size: 16px;
  text-align: justify;
  width: 80%;
  transform: rotateY(180deg);
}

@media screen and (min-width: 769px) {
  .card-title {
    font-size: 22px;
  }
  .card-text {
    font-size: 18px;
  }
}
