.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 320px;
  margin: 1rem 0;
  border: 3px dashed var(--secondary-color);
  border-radius: 10px;
}

.card:hover {
  width: 400px;
  height: 370px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 1rem 0;
  color: var(--secondary-color);
}

.card-text {
  font-size: 20px;
  text-align: justify;
  width: 80%;
  padding-bottom: 2rem;
}
