.container-contact {
  margin: 0 5%;
}

.about-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.subtitle-contact {
  font-size: 22px;
  margin: 2rem 0;
  text-align: center;
  color: var(--secondary-color-light);
}

.text-contact {
  text-align: justify;
  font-size: 20px;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-form,
.textarea {
  min-width: 300px;
  min-height: 50px;
  margin: 0.5rem 0;
  border: 3px solid var(--secondary-color-light);
  border-radius: 10px;
}

.textarea {
  height: 100px;
}

.inputs-form::placeholder,
.textarea::placeholder {
  padding-left: 15px;
}

.inputs-form:focus,
.textarea:focus {
  outline: 0;
  padding-left: 15px;
}

.submit {
  background: var(--secondary-color-light);
  width: 200px;
  height: 40px;
  margin: 0.5rem 0;
  border: 3px solid var(--secondary-color-light);
  border-radius: 5px;
  margin-bottom: 5rem;
}

.submit:hover {
  background: var(--primary-color-light);
  border: 3px solid var(--primary-color-light);
}

@media screen and (min-width: 426px) {
  .inputs-form,
  .textarea {
    width: 380px;
  }

  .submit {
    width: 250px;
  }
}

@media screen and (min-width: 769px) {
  .about-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-contact {
    width: 50%;
  }

  .form-contact {
    width: 50%;
  }

  .inputs-form,
  .textarea {
    width: 400px;
  }
}
