.container-contact {
  margin: 0 5%;
}

.about-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle-contact {
  font-size: 22px;
  margin: 1rem 0;
  text-align: center;
  color: var(--blue-light);
}

.my-contact {
  margin: 2rem 0;
  text-decoration: none;
}

.linkedin,
.github,
.instagram {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 0;
  width: 100%;
}

.instagram a,
.linkedin a,
.github a {
  color: var(--blue-light);
}

.text-contact {
  text-align: justify;
  font-size: 18px;
  width: 80%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs-form,
.textarea {
  width: 300px;
  height: 40px;
  margin: 0.5rem 0;
  border: 2px solid var(--blue-light);
  border-radius: 5px;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.textarea {
  height: 100px;
}

.inputs-form:focus,
.textarea:focus {
  outline: 0;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue-light);
  color: white;
  border: 3px solid var(--blue-light);
  border-radius: 5px;
  width: 300px;
  height: 40px;
  margin: 0.5rem 0;
  margin-bottom: 3rem;
  gap: 10px;
}

.submit:hover {
  background: var(--green);
  border: 3px solid var(--green);
}

@media screen and (min-width: 426px) {
  .inputs-form,
  .textarea,
  .submit {
    width: 380px;
  }
}

@media screen and (min-width: 769px) {
  .about-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-contact,
  .form-contact {
    width: 50%;
  }

  .inputs-form,
  .textarea,
  .submit {
    width: 400px;
  }
}
