.container-steeps {
  margin: 0 5%;
}

.title-container {
  text-align: center;
  margin: 2rem 0;
  font-size: 30px;
  color: var(--orange);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-container .card:nth-child(even) {
  border: 3px solid var(--orange);
  border-radius: 10px;
  background: var(--orange-light);
  color: white;
}
