.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-light);
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.logo-header img {
  width: 150px;
  margin-left: 50px;
}

.hamburguer-container {
  display: none;
}

.item-list {
  display: inline;
  list-style-type: none;
}

.link-list {
  text-decoration: none;
  color: white;
  margin: 0 12px;
  font-size: 20px;
}

.link-list:hover {
  color: var(--green);
  font-weight: bold;
}

.link-list:focus {
  color: var(--green);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .hamburguer-container {
    display: flex;
  }

  .navbar-list {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .logo-header img {
    margin-left: 100px;
  }
  .navbar-list {
    margin-right: 30px;
  }
}
