.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue-light);
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 20px;
  position: fixed;
  width: 100%;
}

.logo-header img {
  width: 150px;
}

.item {
  display: inline;
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: white;
  margin: 0 12px;
  font-size: 20px;
}

.link:hover {
  color: var(--green);
  font-weight: bold;
}
.link:focus {
  color: var(--green);
  font-weight: bold;
}
