.footer {
  background-color: var(--blue-light);
  color: white;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

span {
  font-weight: bold;
  color: var(--green);
  padding-left: 8px;
}
