.footer {
  background-color: var(--primary-color-dark);
  color: white;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

span {
  font-weight: bold;
  color: var(--secondary-color-dark);
  padding-left: 8px;
}
